body, html{
    font-size: 1vw;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
}

h2{
    text-align: center;
    font-size: 2vw;
    color: #282e34;
}

h3{
    font-size: 1vw;
    color: #fff;
    font-family: 'Cinzel', serif;
}

img{
    padding-bottom: 30px;
}

.bg-img-1,.bg-img-2,.bg-img-3 {
    position:relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-img-1{
    background-image: url('../images/bg-img-1.jpg');
    min-height:60vw;
}

.bg-img-2{
    background-image: url('../images/bg-img-2.jpg');
    min-height:40vw;
}

.bg-img-3{
    background-image: url('../images/bg-img-3.jpg');
    min-height: 40vw;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    font-family: 'Loved by the King', cursive;
    text-align: justify;
    background-image: url(../images/wallpaper.jpg);
    color: 666;
    padding: 50px 250px;
    border: 25px solid black;

}

.section-dark{
    background-color: #282e34;
    color: #ddd;
}

.p-text{
    position:absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color:#746c6c;
    font-size:1rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

.border{
    background-color:#111;
    color: #fff;
    padding: 20px;
}

.sectionHead {
    background-color:#6DB3AC;
    font-family: 'Rock Salt', cursive;
}

.contact-section {
    padding: 0 100px;
}

.glide__track {
    background-color: #282e34;
    color: #ddd; 
    text-align: center;
    padding: 50px 80px;
}

#p-1{
    padding:30px;
    background-color: #fff;
    border: #746c6c solid 10px;
}

#profile-pic{
    margin-top: 30px;
}

#work-table{
    padding: 20px 50px;
}
